<html>
    <head>
        <link rel="stylesheet" href="/assets/style.css">
        <script 
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
        </script>
    </head>
    <body>
        <h1>
            Hello World from template
        </h1>
        <form method="POST" action="/person">
            First name: 
            <input type="text" name="firstname" id="firstname"><br>
            Last name: 
            <input type="text" name="lastname" id="lastname"><br>
            <input type="submit" value="submit">
            <input type="button" class="js-json-btn" value="submit JSON">
        </form>
    </body>
    <script>
    $('.js-json-btn').click(function(){
        $.ajax({
            type: "POST",
            url: "/person-json",
            data: JSON.stringify({
                firstname: $('#firstname').val(),
                lastname: $('#lastname').val()
            }),
            dataType: 'json',
            contentType: 'application/json'
        });
    
    });
    </script>
</html>