<html>
    <head>
        <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body>
        <h1>
            Hello, <%= id %>
        </h1>
        <h2>QueryString Value: <%= Qstr %></h2>
        <h3>this is a template</h3>
    </body>
</html>